.cursor-pointer {
  cursor: pointer;
}

.no-select {
  user-select: none !important;
}

.chevron-xs {
  font-size: 0.6em;
  transition:
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1); /* Material-style smooth */
  will-change: transform;
}

/* collapsed */
button[aria-expanded="false"] .chevron-xs {
  transform: rotate(0deg);
}

/* expanded */
button[aria-expanded="true"] .chevron-xs {
  transform: rotate(90deg);
}

.bio-textarea {
  height: 150px;      
  max-height: 300px; 
  resize: vertical;    /* allows vertical resizing only */
}